<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>名前</th>
      <th>コメント</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% answers.each do |answer| %>
      <tr>
        <td>
          <%= link_to user_path(answer.user) do %>
            <%= attachment_image_tag(answer.user, :profile_image, :fill, 40, 40, fallback: "no-image1.jpg") %><br>
          <% end %>
          <%= link_to answer.user.name, user_path(answer.user) %>
        </td>
        <td>
          <%= simple_format answer.answer %><br>
          <%= answer.created_at.strftime("%Y/%m/%d") %>
        </td>
        <td class="answer_like_<%= answer.id %>">
          <%= render 'questions/like', answer: answer %>
        </td>
        <td>
          <% if answer.user.id == current_user.id %>
            <%= link_to "編集する", edit_question_answers_path(answer) %><br>
            <br>
            <%= link_to "削除する", question_answers_path(answer), method: :delete, remote: true, "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate answers %>