<div class="sidebar-heading h2">質問のタグ一覧</div>
<% tags.each do |tag| %>
  <span class="button"><%= link_to tag.name, questions_path(tag_name: tag.name), class: 'btn btn-success'%></span>
<% end %>

<div class="sidebar-heading h2">質問<br>
（ <i class="fas fa-smile" aria-hidden="true" style="color: orange;"></i> 共感した順）</div>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <% question_empathy_ranks.each do |question| %>
      <tr>
        <td>
          <i class="fas fa-smile" aria-hidden="true"></i>
          <%= question.empathies.count %>
        </td>
        <td>
          <%= link_to user_path(question.user_id) do %>
            <% if question.user.profile_image_id.nil? %>
              <%= image_tag('no-image1.jpg', style: "width: 40px; height: 40px;") %><br>
            <% else %>
              <%= image_tag image_url + question.user.profile_image_id.to_s, style: "width: 40px; height: 40px;" %><br>
            <% end %>
          <% end %>
          <%= link_to question.user.name, user_path(question.user_id) %>
        </td>
        <td><%= link_to question.title, question_path(question) %></td>
      </tr>
    <% end %>
  </tbody>
</table>