<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-lg-8 col-lg-offset-4">
			<h2>質問詳細</h2>
			<div class="question_<%= @question.id %>">
				<%= render 'questions/show', question: @question %>
			</div>
			<% if @question.image != nil %>
			  <%= attachment_image_tag(@question, :image, :fill, 100, 100) %>
			<% end %>
			<%= @question.body %>
			<h4>回答</h4>
			<%= link_to "いいね順", answer_like_ranks_path(@question.id), remote: true %>
			<div class="answer_<%= @question.id %>">
	    	<%= render 'questions/answers', answers: @question.answers.order(created_at: :desc) %>
	    </div>
	    <div class="answer_errors">
			  <%= render 'layouts/errors', obj: @answer %>
			</div>
	    <%= form_with model:[@question, @answer], data: {remote: true} do |f| %>
			  <%= f.text_area :answer, size: "90×5" %>
			  <%= f.submit '送信' %>
			<% end %>
		</div>
	</div>
</div>

