<div class="container">
  <div class="row">
	  <div class="col-md-9 col-sm-12">
			<h2>質問詳細</h2>
			<div class="question_<%= @question.id %>">
				<%= render 'questions/show', question: @question %>
			</div>
			<% if @question.image != nil %>
			  <%= attachment_image_tag(@question, :image, :fill, 100, 100) %><br>
			<% end %>
			<br>
			<div class="content-heading h5">内容</div>
			<div class="blank"><%= @question.body %></div>
			<div class="border"></div>
			<div class="comment-answer h3">回答する</div>
			<%= form_with model:[@question, @answer], data: {remote: true} do |f| %>
			  <%= f.text_area :answer, class: "form-control" %>
			  <div class="actions">
			    <%= f.submit '送信', class: 'btn btn-primary col-xs-12'%>
			  </div>
			<% end %>
			<div class="blank h3">回答一覧</div>
			<div class="blank"><%= link_to "いいね順", question_path(likes_order: @question.id) %></div>
			<div class="answer_<%= @question.id %>">
	    	<%= render 'questions/answers', answers: @answers.order(created_at: :desc).page(params[:page]) %>
	    </div>
	    <div class="answer_errors">
			  <%= render 'layouts/errors', obj: @answer %>
			</div>
		</div>
		<div class="col-md-3 col-sm-12">
			<%= render 'questions/sidebar', tags: @tags, question_empathy_ranks: @question_empathy_ranks %>
		</div>
	</div>
</div>

