<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-lg-8 col-lg-offset-4">
			<%= flash[:notice] %>
			<h2>投稿ランキング（ <i class="fas fa-thumbs-up" aria-hidden="true"></i> いいね順）</h2>
			<% @post_like_ranks.each.with_index(1) do |post, i| %>
				<div>第<%= i %>
				   位
				  <%= link_to post.title, post_path(post) %>
			  </div>
			<% end %>
			<h2>質問ランキング（ <i class="fas fa-smile" aria-hidden="true" style="color: orange;"></i> 共感した順）</h2>
			<% @question_empathies_ranks.each.with_index(1) do |question, i| %>
				<div>第<%= i %>
				   位
				  <%= link_to question.title, questions_path(question) %>
			  </div>
			<% end %>
　　</div>
	</div>
</div>