<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>名前</th>
      <th>コメント</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <td>
          <%= link_to user_path(comment.user) do %>
            <% if comment.user.profile_image_id.nil? %>
              <%= image_tag('no-image1.jpg', style: "width: 40px; height: 40px;") %><br>
            <% else %>
              <%= image_tag image_url + comment.user.profile_image_id + "-thumbnail.", style: "width: 40px; height: 40px;" %><br>
            <% end %>
          <% end %>
          <%= link_to comment.user.name, user_path(comment.user) %>
        </td>
        <td>
          <%= simple_format comment.comment %>
          <%= comment.created_at.strftime("%Y/%m/%d") %>
        </td>
        <td class="comment_like_<%= comment.id %>">
          <%= render 'posts/like', comment: comment %>
        </td>
        <td>
          <% if comment.user.id == current_user.id %>
            <%= link_to "編集", edit_post_comment_path(comment.post,comment), class: 'button btn btn-warning' %>
            <%= link_to "削除", post_comment_path(comment.post,comment), class: 'button btn btn-danger', method: :delete, remote: true, "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate comments %>